// DOMOTICZ-IPCC Example Configuration
// rename to config.js
// All Configuration options are made here

// BEGIN CONFIG
var options = {
	idx 		: [ ],			// Init IDX Array
	request		: false,		// Required for MQTT
	host		: 'localhost',		// MQTT Broker Host
        status		: 'ipcc/connected',	// MQTT Status Path
	log		: false,		// Extra Debug Logging
	syslog		: false,		// Log to Syslog
};

// Dahua IP Cameras - NAME : [HOST,PORT,USERNAME,PASSWORD,MD IDX,TAMPER IDX,INPUT #1 IDX, INPUT #2 IDX, OUTPUT IDX]
var dahuaIPC = {
//	NAME		HOST	PORT	USERNAME	PASSWORD	MDIDX	TIDX	i1IDX	i2IDX	oIDX	
	WestPTZ	: [ 'west-ptz'	,80	,'admin'	,'pass'		,214	,218	,212	,213	,false ],
	NorthIPC: [ 'north-ptc'	,80	,'admin'	,'pass'		,215	,219	,false	,false	,false ],
	SouthIPC: [ 'south-ipc'	,80	,'admin'	,'pass'		,216	,220	,false	,false	,false ],
	EastIPC	: [ 'east-ipc'	,80	,'admin'	,'pass'		,217	,221 	,false	,false	,false ],
};
// END CONFIG

exports.options = options
exports.dahuaIPC = dahuaIPC
